<!-- -->
<launch>
  <arg name="voxel_leaf_size" default="2.0" />
  <arg name="min_scan_range" default="5.0" />
  <arg name="max_scan_range" default="200.0" />
  <arg name="min_add_scan_shift" default="2.0" />
  <arg name="incremental_voxel_update" default="false" />
  <arg name="output_filter_resolution" default="0.0" />
  <arg name="output_path" default="$(env HOME)" />

  <!-- rosrun lidar_localizer ndt_mapping  -->
  <node pkg="lidar_localizer" type="queue_counter" name="queue_counter" output="screen"/>
  <node pkg="lidar_localizer" type="gnss_mapping" name="gnss_mapping" output="screen">
    <param name="voxel_leaf_size" value="$(arg voxel_leaf_size)" />
    <param name="min_scan_range" value="$(arg min_scan_range)" />
    <param name="max_scan_range" value="$(arg max_scan_range)" />
    <param name="min_add_scan_shift" value="$(arg min_add_scan_shift)" />
    <param name="incremental_voxel_update" value="$(arg incremental_voxel_update)" />
    <param name="output_filter_resolution" value="$(arg output_filter_resolution)" />
    <param name="output_path" value="$(arg output_path)" />
  </node>

</launch>
