<launch>
  <arg name="res_t_log" value="false" />
  <arg name="lidar_input_topic" default="/points_raw_origin"/>
  <arg name="lidar_republished_topic" default="/points_raw"/>
  <arg name="image_input_topic" default="/image_raw_origin"/>

  <!-- Re-publishing simulator/camera_node/image/compressed topic to /image_raw as expected by Autoware -->
  <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/simulator/camera_node/image raw out:=/image_raw_origin"  />

  <node pkg="sensor_republisher" type="lidar_republisher" name="lidar_republisher" output="screen">
    <param name="/input_topic" value="$(arg lidar_input_topic)" />
    <param name="/output_topic" value="$(arg lidar_republished_topic)" />
  </node>

  <node pkg="sensor_republisher" type="camera_republisher" name="camera_republisher" output="screen">
    <param name="/input_topic" value="$(arg image_input_topic)" />
  </node>

  <!-- TF Publisher -->	
	<node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 /world /map 10" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne" args="1.2 0 2.0 0 0 0 base_link velodyne 10"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="gps_to_base_link" args="0 0 0 0 0 0 gps base_link 10"/> -->
  <node pkg="tf" type="static_transform_publisher" name="lidar_to_camera" args="0 0 0 0 0 0 velodyne camera 10" />

  <!-- gnss calibrator -->
  <node pkg="sensor_republisher" type="gnss_calibrator" name="gnss_calibrator" output="screen">
    <param name="plane" value="0"/>
    <param name="res_t_log" value="$(arg res_t_log)"/>
  </node>

  <!-- voxel grid filter -->
  <node pkg="points_downsampler" name="voxel_grid_filter" type="voxel_grid_filter">
    <param name="leaf_size"    value="2.0" />
    <param name="measurement_range"    value="200" />
    <param name="points_topic" value="$(arg lidar_republished_topic)" />
    <param name="res_t_log" value="$(arg res_t_log)"/>
  </node>

  <!-- ray_ground_filter -->
  <node pkg="points_preprocessor" type="ray_ground_filter" name="ray_ground_filter" output="screen">
    <param name="input_point_topic" value="$(arg lidar_republished_topic)" />
    <param name="base_frame" value="base_link" />
    <param name="max_clipping_height" value="5.0" />
    <param name="min_clipping_height" value="-0.5" />
    <param name="min_point_distance" value="2.9" />
    <param name="radial_divider_angle" value="1.85" />
    <param name="concentric_divider_distance" value="0.0" />
    <param name="local_max_slope" value="8" />
    <param name="general_max_slope" value="5" />
    <param name="min_height_threshold" value="0.5" />
    <param name="reclass_distance_threshold" value="0.2" />
    <param name="no_ground_point_topic" value="/points_no_ground" />
    <param name="ground_point_topic" value="/points_ground" />
    <param name="res_t_log" value="$(arg res_t_log)"/>
  </node>

</launch>

