<launch>
  <arg name="mapName" value="borregas" />

  <!-- op_common_params  -->
  <node pkg="op_local_planner" type="op_common_params" name="op_common_params" output="screen">
    <param name="mapSource"         value="0" /> <!-- Autoware=0, Vector Map Folder=1, kml file=2 -->
    <param name="mapFileName"         value="" />
    <param name="velocitySource"      value="1" /> <!-- read velocities from (0- Odometry, 1- autoware current_velocities, 2- car_info) "" -->

    <param name="minVelocity"         value="0.1" />  

    <param name="maxLocalPlanDistance"     value="80" />  
    <param name="horizonDistance"       value="120" />
    
    <param name="minFollowingDistance"     value="30.0" />
    <param name="minDistanceToAvoid"     value="20.0" />
    <param name="maxDistanceToAvoid"     value="0.1"  />
    <param name="speedProfileFactor"    value="1.2"  />
    
    <param name="smoothingDataWeight"    value="0.45"  />
    <param name="smoothingSmoothWeight"    value="0.4"  />
    
    <param name="horizontalSafetyDistance"  value="1"  />
    <param name="verticalSafetyDistance"  value="2"  />
    
    <param name="enableSwerving"       value="false"  />
    <param name="enableFollowing"       value="false" />  
    <param name="enableTrafficLightBehavior" value="false" />
    <param name="enableStopSignBehavior"   value="false" />  
    <param name="enableLaneChange"       value="false" />  
    
    <param name="minPursuiteDistance"     value="3.0"  />  
    <param name="additionalBrakingDistance" value="5.0"  />
    <param name="giveUpDistance" value="-4.0"  />

    <param name="stopLineMargin"       value="1" />
    <param name="stopLineDetectionDistance"       value="20" />
  </node> 

  <!-- op_global_planner -->
  <node pkg="op_global_planner" type="op_global_planner" name="op_global_planner" output="screen">    
    <param name="pathDensity"         value="1" />
    <param name="enableSmoothing"       value="false" />
    <param name="enableLaneChange"       value="false" />
    <param name="enableRvizInput"       value="true" />
    <param name="enableReplan"         value="false" />
    <param name="velocitySource"       value="1" />
    <param name="mapSource"         value="0" />
    <param name="mapFileName"         value="" />
    <param name="enableDynamicMapUpdate"   value="false" />
    <param name="multilap_replanning_distance"        value="30.0" />
  </node>

  <!-- op_trajectory_generator -->
  <node pkg="op_local_planner" type="op_trajectory_generator" name="op_trajectory_generator" output="screen">
    <param name="samplingTipMargin"     value="4"  /> 
    <param name="samplingOutMargin"     value="8" /> 
    <param name="samplingSpeedFactor"     value="0.25" />    
    <param name="enableHeadingSmoothing"   value="false" />
  </node>

  <!-- op_motion_predictor -->
  <node pkg="op_local_planner" type="op_motion_predictor" name="op_motion_predictor" output="screen">    
    <param name="max_distance_to_lane"     value="2.0"/>
    <param name="enableGenrateBranches"   value="false"/>
    <param name="enableCurbObstacles"     value="false" />
    <param name="distanceBetweenCurbs"     value="1.5" />
    <param name="visualizationTime"       value="0.25" />
    <param name="enableStepByStepSignal"   value="false" />
    <param name="enableParticleFilterPrediction"   value="false" />
    <param name="input_object_list" value="[/detection/object_tracker/objects_center]" />
    <param name="object_tf_list" value="[velodyne]" />
  </node>

  <node pkg="detected_objects_visualizer" type="visualize_detected_objects" name="predicted_objects_visualizer" output="screen">
    <param name="objects_src_topic" value="/predicted_objects"/>
  </node>

  <!-- op_trajectory_evaluator -->
  <node pkg="op_local_planner" type="op_trajectory_evaluator" name="op_trajectory_evaluator" output="screen">
    <rosparam command="load" file="$(env HOME)/spiraline_ws/cfg/traffic/$(arg mapName)_intersection.yaml"/>
  
    <param name="enablePrediction"       value="false" />
    <param name="horizontalSafetyDistance"   value="1.2" />
    <param name="verticalSafetyDistance"   value="0.8" />

    <param name="weightPriority"       value="0" />
    <param name="weightTransition"       value="3" />
    <param name="weightLong"       value="4" />
    <param name="weightLat"       value="10" />
    <param name="LateralSkipDistance"       value="5.0" />

    <!-- For detecting pedestrian -->
    <param name="ImageWidth" value="1920" />
    <param name="ImageHeight" value="1080" />
    <param name="PedestrianRightThreshold"  value="4.0" />
    <param name="PedestrianLeftThreshold"   value="4.0" />
    <param name="PedestrianImageDetectionRange" value="0.75" />
    <param name="VehicleImageDetectionRange" value="0.3" />
    <param name="VehicleImageWidthThreshold" value="0.018" />
    <param name="SprintDecisionTime" value="999999.0" />
  </node>

  <!-- op_behavior_selector -->
  <node pkg="op_local_planner" type="op_behavior_selector" name="op_behavior_selector" output="screen">
    <rosparam command="load" file="$(env HOME)/spiraline_ws/cfg/traffic/$(arg mapName)_trafficlight.yaml"/>
    <rosparam command="load" file="$(env HOME)/spiraline_ws/cfg/traffic/$(arg mapName)_stopline.yaml"/>

    <param name="score_threshold" value="1.0" />
    <param name="sprintSpeed" value="15.0" />
    <param name="obstacleWaitingTimeinIntersection" value="2.0" />
    <param name="evidence_tust_number"   value="25"/>
    <param name="distanceToPedestrianThreshold" value="25.0" />
    <param name="turnThreshold" value="30.0" />
  </node>   
</launch>