<launch>
  <!-- Behavior selector specific parameters -->
  
  <arg name="evidence_tust_number"   default="25"/>
  <arg name="distanceToPedestrianThreshold" default="20.0" />  
  <arg name="turnThreshold" default="20.0" />
  <arg name="sprintSpeed" default="13.5" />
  <arg name="obstacleWaitingTimeinIntersection" default="1.0" />

  <arg name="ndt_lkas_flag" default="false" />
  <arg name="pnorm_threshold" default="0.05"/>
  <arg name="score_threshold" default="3.0"/>

  <arg name="mapName" default="borregas.yaml" />
  <arg name="res_t_log" default="false" />
      
  <node pkg="op_local_planner" type="op_behavior_selector" name="op_behavior_selector" output="screen">
    <rosparam command="load" file="$(env HOME)/spiraline_ws/cfg/traffic/$(arg mapName)_trafficlight.yaml"/>
    <rosparam command="load" file="$(env HOME)/spiraline_ws/cfg/traffic/$(arg mapName)_stopline.yaml"/>
    
    <param name="sprintSpeed" value="$(arg sprintSpeed)" />
    <param name="obstacleWaitingTimeinIntersection" value="$(arg obstacleWaitingTimeinIntersection)" />
    <param name="evidence_tust_number"   value="$(arg evidence_tust_number)"/>        
    <param name="distanceToPedestrianThreshold" value="$(arg distanceToPedestrianThreshold)" />
    <param name="turnThreshold" value="$(arg turnThreshold)" />

    <param name="ndt_lkas_flag" value="$(arg ndt_lkas_flag)" />
    <param name="pnorm_threshold" value="$(arg pnorm_threshold)"/>
    <param name="score_threshold" value="$(arg score_threshold)"/>

    <param name="res_t_log" value="$(arg res_t_log)" />
  </node>        
      
</launch>
