<launch>
  <!-- op_global_planning -->
  <include file="$(find op_global_planner)/launch/op_global_planner.launch">
    <arg name="pathDensity"           value="1" /> <!-- distance between each two waypoints-->
    <arg name="enableSmoothing"       value="false" /> <!-- 1 or 0 -->
    <arg name="enableLaneChange"      value="false" /> <!-- 1 or 0 -->
    <arg name="enableRvizInput"       value="true" /> <!-- 1 or 0 -->
    <arg name="enableReplan"          value="false" /> <!-- 1 or 0 -->  
    <arg name="velocitySource"        value="1" /> <!-- read velocities from (0- Odometry, 1- autoware current_velocities, 2- car_info) "" -->
    <arg name="mapSource"             value="0" /> <!-- Autoware=0, Vector Map Folder=1, kml file=2 -->
    <arg name="mapFileName"           value="" /> <!-- incase of kml map source -->
    
    <arg name="enableWaypoints"       value="false" /> <!-- In case of using multiple waypoints -->    
    <arg name="waypointCandidateNum"   value="3" /> <!-- Find determined number of candidates for each waypoint -->
    <arg name="threadNum"             value="5" /> <!-- Number of thread for mulit-threading -->>

    <!-- Carmaker -->
    <arg name="use_static_goal"       value="true" />
    <arg name="goal_pose_x"           value="1675.0" />
    <arg name="goal_pose_y"           value="-319.5" />
    <arg name="goal_pose_z"           value="0.0" />
    <arg name="goal_ori_x"            value="0.0" />
    <arg name="goal_ori_y"            value="0.0" />
    <arg name="goal_ori_z"            value="0.99" />
    <arg name="goal_ori_w"            value="-0.01" />

    <arg name="LaneInfoFile"          value="sangam_full/lane_info.yaml" />
  </include>
</launch>